.wise {
    display: none;
    flex-flow: wrap;
    flex-direction: row;
    margin-left: 500px;
    font-size: 24px;
    color: dodgerblue;
}

.yes{ background-color: red; color:white;}

.no{ background-color: green; color:white;}

#Cath {
    display: none;
}

main {

}

.name {
}
